div.zoom  {
    border: 1px solid #fff;
    /* overflow: hidden; */
    transition: 1s;
    transition: all .3s linear;
}

div.zoom:hover {
         transform: scale(1.02);
         transition: all .2s linear;
         cursor: pointer;
       }