.title {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    color: white;
  }

.content {
  display: flex;
  text-align: center;
  padding-left: 4rem;
  padding-top: 4rem;
  padding-right: 4rem;
} 

.desc {
  font-size: 1.8em;
  font-kerning: italic;
  color: #D3D3D3;
}  
