.imgstyle {
    height: 800px;
    color: #D3D3D3;
    font-size: 2.5em;
    font-style: italic;
    position: relative;
  }

.textstyle  {
    position: absolute;
    top: 30%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 3%;
    text-align: left;
}   

.btnStyle  {
    position: absolute;
    top: 60%;
    left: 0;
    bottom: 0;
    right: 70%;
    margin: auto;
    width: max-content;


}
